body {
  background-color: rgb(224, 219, 219);
}

#root {
  background-color: rgb(224, 219, 219);
  padding: 0 10vw;
}

.app {
  text-align: center;
  width: 80vw;
  min-height: 90vh;
  background-color: white;
  padding-top: 10vh;
  font-family: 'Heebo', sans-serif;
}

header {
  background-color: #dd6031;
  width: 100vw;
  position: absolute;
  height: 10vh;
  top: 0;
  left: 0;
  font-family: 'Heebo', sans-serif;
}

h1 {
  margin: 0;
  color: white;
  font-size: 45px;
}

.menu {
  position: relative;
  width: 100vw;
  height: 5vh;
  background-color: #eb754b;
  display: flex;
  align-items: center;
}

.nav-container {
  position: absolute;
  right: 15vw;
  display: flex;
  justify-content: space-evenly;
}

.nav {
  text-decoration: none;
  min-width: 5vw;
  color: white;
  font-size: 23px;
}

.nav:hover {
  color: rgb(224, 219, 219);
}

.footer-div {
  position: relative;
  width: 100vw;
}

footer {
  position: absolute;
  bottom: 0;
  left: -10vw;
  right: 0;
  background-color: #dd6031;
  display: flex;
  justify-content: center;
}

.footer {
  color: white;
  margin: 0;
  max-height: 10vh;
  text-align: left;
}

.footer-content {
  width: 30vw;
  margin-right: 5vw;
  margin-left: 10vw;
}

.footer-content2 {
  width: 30vw;
}

/* Welcome Page */

.welcome-page {
  display: flex;
  padding-bottom: 10vh;
}

.welcome-content {
  width: 80vw;
  justify-self: center;
}

.welcome-submit {
  border: none;
  background-color: rgb(75, 193, 214);
  color: white;
  border-radius: 5px;
  padding: 0.5em;
  width: 8em;
  margin: 0 1em;
}

.welcome-submit:hover {
  background-color: rgb(89, 219, 241);
}

.username-field {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(224, 219, 219);
  outline: none;
}

.marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shopping-image,
.selling-image {
  max-height: 35vh;
}

.first {
  min-width: 40vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second {
  min-width: 40vw;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.welcome-text {
  font-size: 2.4vw;
}

.greeting {
  padding-top: 2vh;
}

/* Buy Page */

.buy-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.buy-title {
  width: 80vw;
  text-align: left;
  border-bottom: 1px solid rgb(224, 219, 219);
  padding-top: 2vh;
}

.filter {
  margin-bottom: 2vh;
  outline: none;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  width: 80vw;
}

.recently-viewed-container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 80vw;
  padding-bottom: 10vh;
}

#buy-list {
  height: 70vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recently-viewed-title {
  width: 80vw;
  text-align: left;
  border-bottom: 1px solid rgb(224, 219, 219);
}

#buy-list::-webkit-scrollbar {
  display: none;
}

.filter-spec {
  margin: 0;
}

/* Sell Page */

.sell-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
  min-height: 90vh;
}

.new-listing-form {
  padding: 5vh 0;
  width: 80vw;
}

.new-listing-form input {
  padding: 0.5em 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(224, 219, 219);
  outline: none;
  margin: 0 0.8em;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.listing-submit {
  background-color: rgb(75, 193, 214);
  color: white;
  width: 6em;
  border-radius: 5px;
  border-bottom: none;
}

.listing-submit:hover {
  background-color: rgb(89, 219, 241);
}

select {
  border: none;
  margin: 0 0.8em;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

option {
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

#sell-list {
  padding-bottom: 10vh;
}

/* Cart  */

.cart {
  min-height: 80vh;
  padding-bottom: 10vh;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 30vw;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid rgb(224, 219, 219);
}

.cart-price {
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.price-button-container {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(224, 219, 219);
}

.remove-from-cart {
  background-color: white;
  color: rgb(180, 177, 177);
  border: none;
  outline: none;
  padding: 0.5em;
}

.checkout {
  background-color: rgb(75, 193, 214);
  color: white;
  border: none;
  outline: none;
  padding: 0.5em;
  margin: 1vh 0;
  border-radius: 5px;
  font-size: 20px;
}

.checkout:hover {
  background-color: rgb(89, 219, 241);
}

.total-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.total {
  width: 30vw;
  display: flex;
  justify-content: left;
}

.total-amount {
  width: 30vw;
  display: flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
}

/* Thumbnails */

.thumbnail {
  min-width: 10vw;
  min-height: 20vh;
  max-height: 40vh;
  position: relative;
  border-left: 1px solid rgb(224, 219, 219);
  border-right: 1px solid rgb(224, 219, 219);
  margin-bottom: 2vh;
}

.thumbnail-content {
  height: 100%;
}

.thumbnail:hover {
  box-shadow: 2px 2px 10px rgb(224, 219, 219);
}

.thumbnail-img {
  max-width: 10vw;
}

.dropbtn {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 10px;
  width: 10px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 2vh;
  border: none;
  background-color: #ec697b;
  color: white;
  border-bottom-left-radius: 4px;
  display: none;
}

.dropdown:hover .delete-button {
  display: block;
}

.price {
  position: absolute;
  bottom: 0;
  right: 1vw;
  margin: 0;
  color: #dd6031;
  font-family: 'Montserrat', sans-serif;
}

.thumbnail-title {
  margin-top: 0;
  padding-bottom: 1vh;
}

/* Item Details */

.item-details-page {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-bottom: 10vh;
}

.details-img {
  max-height: 40vh;
  align-self: center;
}

.detail-content {
  max-width: 20vw;
  align-self: center;
  text-align: left;
}

.cart-button {
  width: 6vw;
  align-self: center;
  background-color: rgb(75, 193, 214);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  outline: none;
}

.cart-button:hover {
  background-color: rgb(89, 219, 241);
}

.update-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(224, 219, 219);
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
}
