#root {
  background-color: rgb(224, 219, 219);
  padding: 0 10vw;
  height: 100vh;
}

.app {
  text-align: center;
  height: 100vh;
  width: 80vw;
  background-color: white;
  padding-top: 10vh;
}

header {
  background-color: #2ab7ca;
  width: 100vw;
  position: absolute;
  height: 10vh;
  top: 0;
  left: 0;
}

h1 {
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 5vh;
  background-color: #2ab7ca;
}

.menu-button {
  position: absolute;
  right: 15vw;
  bottom: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 15vw;
  top: 5vh;
}

.nav {
  text-decoration: none;
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2ab7ca;
}

/* Welcome Page */

.welcome-page {
  display: flex;
}

.welcome-content {
  width: 80vw;
  justify-self: center;
}

/* Buy Page */

.buy-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  width: 80vw;
}

.recently-viewed-container {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 80vw;
}

/* Sell Page */

.sell-page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.new-listing-form {
  padding: 5vh 0;
  background-color: white;
  width: 80vw;
}

/* Cart  */

.cart-item {
  display: relative;
}

.cart-title {
  display: absolute;
  left: 0;
}

/* Thumbnails */

.thumbnail {
  background-color: plum;
  min-width: 10vw;
  position: relative;
}

.thumbnail-img {
  max-width: 10vw;
}

.delete-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2vh;
}

.price {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}

/* Item Details */

.details-img {
  max-height: 40vh;
}
